/*set new height and width for portolio*/
body{
	height: 875px;
	width:960px;
	
}

/*set new height and width for section*/
section{
	height: 580px;
	width: 520px;
	

}
/*positive of images are relative to article*/
article{
	position: relative;
}
#photo1{
	position: absolute;
	top:10px;
	left:10px;

}

#photo2{
	position: absolute;
	top:10px;
	right:10px;

}

#photo3{
	position: absolute;
	top:280px;
	left:10px;
}

#photo4{
	position: absolute;
	top:280px;
	right:10px;

}


/*styling image text*/
#head1{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 200px;
	height: 40px;
	color:#fff;
	text-align: center;
	padding: 13px;
	position: absolute;
	top:155px;
	left:0px;
	z-index: 2
}

#head2{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 200px;
	height: 40px;
	color:#fff;
	text-align: center;
	padding: 13px;
	position: absolute;
	top:155px;
	right:0px;
	z-index: 2
}
#head3{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 200px;
	height: 40px;
	color:#fff;
	text-align: center;
	padding: 13px;
	position: absolute;
	top:155px;
	right:0px;
	z-index: 2
}
#head4{
	background-color: #4aaaa5;
	font-size: 35px;
	width: 200px;
	height: 40px;
	color:#fff;
	text-align: center;
	padding: 13px;
	position: absolute;
	top:155px;
	right: :0px;
	z-index: 2
}

@media screen and (max-width:980px) {
	/*new position of buttons*/
	nav ul li {
  		margin-right:5px;
	}
	
	nav ul {
 		margin-left:50px;
 		z-index:100;
    	display:inline-block
   
	}
	body{
		width: 100%

	}
	/*they didn't add up to 100% becasue I used paddings and margins. 
	I didn't use content or box bording.*/

	section{
		width: 55%;
	}
	aside{
		width: 25%;
		margin-left:0;
	}

	footer{
		width: 100%
	}
	
}
/* @media with with of 890 */
@media screen and (max-width: 890px) {
   body{

	height: 1090px;
	width: 100%;
	
	}
	
	/*they didn't add up to 100% becasue I used paddings and margins. 
	I didn't use content or box bording.*/

	section{
		width: 70%;
	
	
	}
	aside{
		width: 30%;
		margin-top: 30px;
		margin-left:30px;
	}

	footer{
		width: 100%
	}
	}
/* @media with with of 760*/
@media screen and (max-width:760px) {
	nav ul li {
		margin-right:5px;
	
	}
	nav ul {
		
 		margin-top:30px;
 		margin-left:50px;
 		z-index:100;
    	display:inline-block
   }

	.button{
		font-weight: 100;
		font-size: 16px;
		border: 1px solid #4aaaa5;
		border-radius: 50px;
		padding: 5px 5px;
		transition-duration: 200ms;
		margin-top: 10px;

	}
body{

	height: 1090px;
	width: 100%;
	
	}
	
	/*they didn't add up to 100% becasue I used paddings and margins. 
	I didn't use content or box bording.*/

	section{
		width: 90%;
	
	
	}
	aside{
		width: 30%;
		margin-top: 30px;
		margin-left:30px;
	}

	footer{
		width: 100%
	}
/*media 640px*/

@media screen and (max-width:640px) {
	nav{
		width: 100%
	}
	nav ul{
		margin-left:15px
	}
	.button{
		font-weight: 100;
		font-size: 12px;
		border: 1px solid #4aaaa5;
		border-radius: 70px;
		padding: 5px 5px;
		transition-duration: 200ms;
		margin-top: 10px;
	}
	body{
	width: 100%
	height: 900px;

}

	/*they didn't add up to 100% becasue I used paddings and margins. 
	I didn't use content or box bording.*/

	section{
		width: 80%;
		margin-right:30px;
		margin-left:30px;
	}
	aside{
		width: 40%;
		margin-top: 30px;
		margin-left:30px;
	}
	img{
		width: 100%;
	}

	footer{
		width: 100%
	}

	/* image resize*/
	  img.image {
        max-width:80%;
        max-height:155px;
    }

    #head1, #head3{
       max-width:70%;
       position:absolute;
       left:0;
    }
      #head2, #head4{
       max-width:68%;
       position:absolute;
       left:0;
    }

}
